@model CustomClothing.Models.Cliente
@{
    ViewData["Custom Clothes"] = "Cadastro";
}
<!--CSS-->
<style>
    .bg-custom {
        background-color: #1C003F; /* Escolha a cor que deseja */
    }
</style>

<!--Essa div corresponde a estrutura da tela de --->
<div class="container bg-white p-5 rounded-5">
    
    <div class="mb-5 bg-custom text-center">
        <h1 class="text-light">Cadastrar</h1>
    </div>

    <form asp-controller="Login" asp-action="Cadastro" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="CPF" class="control-label">CPF:</label>
            <input asp-for="CPF" class="form-control" placeholder="Digite seu CPF..." />
            <span asp-validation-for="CPF" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="RG" class="control-label">RG:</label>
            <input asp-for="RG" class="form-control" placeholder="Digite seu RG... " />
            <span asp-validation-for="RG" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Nome" class="control-label">Nome:</label>
            <input asp-for="Nome" class="form-control" placeholder="Digite seu Nome..." />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div> 
        <div class="mb-3">
            <label asp-for="DataNans" class="control-label">Data de Nascimento:</label>
            <input asp-for="DataNans" class="form-control" placeholder="Digite sua Data de Nascimento..." />
            <span asp-validation-for="DataNans" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Sexo" value="M">
                <span class="form-check-label"> Masculino </span>
            </label>
            <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Sexo" value="F">
                <span class="form-check-label"> Feminino</span>
            </label>
            <span asp-validation-for="Sexo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Celular" class="control-label">Telefone:</label>
            <input asp-for="Celular" class="form-control" placeholder="Digite seu Número..." />
            <span asp-validation-for="Celular" class="text-danger"></span>
        </div> 
        <div class="mb-3">
            <label asp-for="Email" class="control-label">Email:</label>
            <input asp-for="Email" class="form-control" placeholder="Digite seu Email..." />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div> 
        <div class="mb-3">
            <label asp-for="Senha" class="control-label">Senha:</label>
            <input asp-for="Senha" class="form-control" placeholder="Digite sua Senha..." />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>


        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success bg-custom w-50">Cadastrar</button>
            <a class="btn btn-primary bg-custom w-50" asp-action="Login">Voltar</a>
        </div>

    </form>
</div>















