@{
    ViewData["Title"] = "Perfil Cliente";
}
<h1>Status do Pedido</h1>
<link rel="stylesheet" href="~/css/perfilCliente.css">

<body>
    <div class="profile-container">
        <div class="profile-image">
            <img src="~/img/telaperfil.png" />
        </div>
        <div class="profile-info">
            <input class="NomeCli" placeholder="Nome"></input>
            <input class="Cel" placeholder="Celular"></input>
            <input class="End" placeholder="Endereço"></input>
            <button class="edit-btn">EDITAR</button>
        </div>

    </div>


    <h2>Status de pedido</h2>
    <div class="order-status-container">
        <div class="order-details"></div>
        <input class="number" placeholder="N°xxxxxx                                                                                                                                                                                                               Data xx/xx/xxxx" /></input
    </div>

    <input class="caixa-informacoes" placeholder="Informações do Pedido"></input>


    <div class="container">
        <div class="section">
            <div class="title">Favoritos</div>
            <div class="grid">
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
            </div>
        </div>

        <div class="section">
            <div class="title">Meus Pedidos</div>
            <div class="grid">
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
            </div>
        </div>
    </div>

</body>
</html>
