@{
    ViewBag.Title = "Finalizada";
}
<link rel="stylesheet" href="~/css/Final.css">
<!--Essa Div é a estrutura principal da tela-->
<div class="Container text-center">
    <h1>Sua Compra foi Finalizada!</h1>
    <i class="bi bi-shield-fill-check"></i>
    <br />
    <h3>Agradecemos a preferência!</h3>
    <br />
    <input type="submit" class="botao text-white d-grid gap-2 col-4 mx-auto" asp-area="" asp-controller="#" asp-action="#" value="Meus Pedidos" />
    <br />
    <input type="submit" class="botao text-white d-grid gap-2 col-4 mx-auto" asp-area="" asp-controller="#" asp-action="#" value="Voltar" />
</div>

