@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css"/>

<div class="Container">
    <!-- Fazendo o carrosel-->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/lib/Imagens/Car1_waifu2x_photo_noise2.png" alt="..." >
            </div>
            <div class="carousel-item">
                <img src="~/lib/Imagens/Car2_waifu2x_photo_noise2.png" alt="..." >
            </div>
            <div class="carousel-item">
                <img src="~/lib/Imagens/Car3_waifu2x_photo_noise2.png" alt="..." >
            </div>
        </div>
    </div>
</div>

<div class="flex-Container">
    <div>
        <img class="imgroupas" src="~/lib/Imagens/" a href="#" /><br />
        <label>Saias</label>
    </div>
    <div>
        <img class="imgroupas" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" /><br />
        <label>Vestidos</label>
    </div>
    <div>
        <img class="imgroupas" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" /><br />
        <label>Calças</label>
    </div>
    <div>
        <img class="imgroupas" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" /><br />
        <label>Shorts</label>
    </div>
</div>
<div class="flex-Container">
    <div>
        <img class="imgroupas" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" /><br />
        <label>Blusas</label>
    </div>
    <div>
        <img class="imgroupas" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" /><br />
        <label>Tops</label>
    </div>
    <div>
        <img class="imgroupas" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" /><br />
        <label>Camisas</label>
    </div>
    <div>
        <img class="imgroupas" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" /><br />
        <label>Sapatos</label>
    </div>
</div>
<div class="Container-roxa">
    <div class="roxo">
        <img class="img-roxo" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" />
    </div>
    <div class="roxo">
        <img class="img-roxo" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" />
    </div>
    <div class="roxo">
        <img class="img-roxo" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" />
    </div>
    <div class="roxo">
        <img class="img-roxo" src="~/lib/Imagens/Camiseta Preta.jpg" a href="#" />
    </div>
</div>
<script src="~/js/carousel.js"></script>

