@{
    ViewData["Title"] = "Sobre-Nós";
}
<!--CSS da tela de Sobre Nós-->
<link rel="stylesheet" href="~/css/Sobrenos.css" />

<div class="container py-5">
    <!-- Título -->
    <h1 class="text-center fs-1 mb-4">Sobre Nós</h1>

    <!-- Seção de Texto e Imagem -->
    <div class="row align-items-center">
        <!-- Texto -->
        <div class="col-md-6 mb-4 mb-md-0">
            <p class="fs-4">
                A Custom Clothes foi criada no ano de 2021 por Sofia Mendes, que não tinha inicialmente o propósito de criar a empresa, mas tinha apenas como hobby e hábito de customizar suas roupas, e as personalizava com estampas e decorações da qual sentia que representasse a sua personalidade.
                <br /><br />
                Com o passar do tempo, pessoas próximas pediam para Sofia fazer roupas para elas. Onde gostaram tanto do que ela produzia, que recomendavam para que passasse a vender, sendo hoje em dia um sucesso no mercado da moda, e também principalmente pela sua contribuição com o meio ambiente.
            </p>
        </div>

        <!-- Imagem -->
        <div class="col-md-6 text-center">
            <img src="~/lib/Imagens/Estamparia.jpg" class="img-fluid rounded shadow" alt="Imagem de estamparia">
        </div>
    </div>
</div>
