@model CustomClothing.Models.Personalizar
@{
    ViewData["Title"] = "Personalizar";
}
<!--Link do CSS para estilizar a página Personalizar Roupa-->
<link rel="stylesheet" href="~/css/Personalizar.css" />
<!--Título Principal-->
<h1 class="text-center fs-1">Personalizar a sua aqui:</h1>
<!--A div Container vai ser todo o contéudo da Tela de Personalizar-->
<div class="Container">
    <!--A Div Custom vai ser a roupa personalizada conforme o cliente pediu-->
    <div class="Custom">
        <form asp-controller="Produto" asp-action="Personalizar" method="post" enctype="multipart/form-data">
            <!---A Classe Picture terá as estampas que o usuário pedir--->
             <label asp-for="Estampa">Estampa:</label>
             <input asp-for="Estampa" type="file" id="file" name="file" rquired/>
             <br/>
            <label asp-for="Descricao">Descrição da Roupa:</label>
            <input asp-for="Descricao" class="descricao" type="text" id="descricao" required />
            <br />
            <label asp-for="DescImg">Tamanho da Imagem:</label>
            <input asp-for="DescImg" class="Roupa" type="text" id="Tamanho-1" required />
            <br />
            <label asp-for="Tamanho">Tamanho:</label>
            <input asp-for="Tamanho" class="Roupa" type="text" id="tamanho" required />
            <br />
            <label asp-for="Tecido">Tecido:</label>
            <input asp-for="Tecido" class="Roupa" type="text" id="tamanho" required />
            <br />
            <label asp-for="Cor">Cor:</label>
            <input asp-for="Cor" class="Roupa" type="text" id="tamanho" required />
            <br />
            <label asp-for="Quantidade">Quantidade:</label>
            <input asp-for="Quantidade" class="Roupa" type="text" id="tamanho" required />
            <br />
            <label asp-for="Valor" class="Total">Total:</label>
            <input asp-for="Valor" class="Roupa" type="text" id="Txtotal" required />
            <br />
            <!--O Botão Ver utiliza Classes CSS e Boostrap-->
            <input type="submit" value="Personalizar" class="botão text-white btn d-grid gap-2 col-4 mx-auto" />
        </form>
    </div>
</div>
<script src="~/js/personalizar.js"></script>

