/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.menu-hamburguer a i{
    padding-right: 0.5em;
    padding-left: 0.4em;
    font-size: 1.7vw;
}
    .menu-btn {
        display: none;
    }
.divGuia a {
    display: inline-block;
    padding: 8px;
    color: #333;
    text-decoration: none;
}
.form-control{
    width: 10vw;
}
/* Header */
.divLogo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
}
    .divLogo p {
        margin: 0.1px;
        padding: 0.1px;
    }

div.divP{
    display: grid;
    margin-left: 0.1em;
    grid-template-rows: auto auto;
    row-gap: 1px;
}

/*Estilização do Custom*/
div.divLogo p:first-of-type {
    font-family: Inconsolata;
    font-weight: 500;
    font-size: 1.2em;
    color: #000;
}
/*Estilização do Clothes*/
div.divLogo p:last-of-type {
    font-family: Inconsolata;
    font-weight: 600;
    font-size: 1.2em;
    color: #7779A0;
}
.divImg{
    flex: 0 1 auto;
}
img#logoNavCC {
    width: auto;
    height: 3em;
}

header .pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    padding: 0 1em;
    background-color: white;
}

#search-bar {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 25px 0 0 25px;
}

    #search-bar::placeholder {
        color: #888;
    }

#search-button {
    display: flex;
    border: none;
    border-radius: 0px 9px 9px 0px;
    height: auto;
    cursor: pointer;
    padding: 10px 15px;
    align-items: center;
    justify-content: center;
}
    button i{
        color: #000;
    }
    div.pesquisa img {
        width: 150px;
        height: 100px;
    }
div.divGuia{
    display: flex;
    justify-content: space-evenly;
    gap: 0.6em;
    /*font-size: 1.5em;*/
}
div.pesquisa input {
    padding: 1em;
    width: 60vw;
    height: 5vh;
    border-radius: 9px 0px 0px 9px;
    border: none;
    background-color: #D9D9D9;
}

div.pesquisa i {
    font-size: 1.2em;
    color: #000;
}

/* Navigation */
header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1.5em 2.1em;
    background-color: #1C003F;
}

nav a {
    color: white;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

/* Footer */
.footer-custom {
    background-color: #1c003f;
    color: #e0e0e0;
    padding: 1em 0em;
    font-size: 20px;
}

    .footer-custom .social-btn {
        color: #e0e0e0;
        gap: 5vw;
        border: 2px solid #e0e0e0;
        border-radius: 50%;
        width: clamp(3.9em, 4em, 5em);
        height: clamp(2.6em, 4em, 5em);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.9rem;
        transition: all 0.3s ease;
    }

        .footer-custom .social-btn i {
            font-size: 2.0rem;
        }

        .footer-custom .social-btn:hover {
            color: #fff;
            background-color: transparent;
            transform: scale(1.1);
        }

        .footer-custom .social-btn.facebook:hover {
            background-color: #3b5998;
            border-color: #3b5998;
        }

        .footer-custom .social-btn.twitter:hover {
            background-color: #1da1f2;
            border-color: #1da1f2;
        }
        .footer-custom .social-btn.whatsapp:hover {
            background-color: #00ff90;
            border-color: #00ff90;
        }

        .footer-custom .social-btn.instagram:hover {
            background: linear-gradient(to right, #cc00ff, #e90078, #ffed00);
            border-color: #e1306c;
        }

        .footer-custom .social-btn.linkedin:hover {
            background-color: #0077b5;
            border-color: #0077b5;
        }

        .footer-custom .social-btn.github:hover {
            background-color: #333;
            border-color: #333;
        }

/* Autocomplete */
.autocomplete-container {
    display: flex;
    align-items: center;
    min-width: 45vw;
    max-width: 50vw;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown-menu{
    z-index: 100;
    position: absolute;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #ccc;
    z-index: 99;
    top: 100%;
    background-color: #9f9f9f;
    color: #fff;
    max-height: 200px;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.autocomplete-item:hover {   
    background-color: #9F9F9F;
    color: #fff;
}
