* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
    font-size: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}

h2 {
    font-size: 50px;
    display: flex;
    padding-left: 55px;
    padding-top: 35px;
}

.profile-container {
    display: flex;
    padding-left: 100px;
    background-color: white;
    padding-bottom: 50px;
    border-bottom: 20px solid #1C003F;
    margin: 0;
}



.profile-image img {
    width: 200px;
    height: 170px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    gap: 30px;
}

.NomeCli {
    background-color: #ddd;
    width: 700px;
    height: 40px;
    border: none;
}

::placeholder {
    padding-left: 20px;
    border: none;
}

.Cel {
    background-color: #ddd;
    width: 700px;
    height: 40px;
    border: none;
}

.End {
    background-color: #ddd;
    width: 700px;
    height: 40px;
    border: none;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 70px;
}


.edit-btn {
    background-color: transparent;
    color: #5f3b83;
    border: none;
    cursor: pointer;
}

.order-status-container {
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.caixa-informacoes {
    width: 60vw;
    height: 400px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

::placeholder {
    text-align: left;
    color: black;
    margin: 0;
}

.order-details {
    display: flex;
    justify-content: space-between;
}

.number {
    width: 60vw;
    height: 40px;
    background-color: #ddd;
    border: none;
}

.status-timeline {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.status-step {
    padding: 10px;
    text-align: center;
    flex: 1;
    position: relative;
}

    .status-step:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -15px;
        width: 30px;
        height: 2px;
        background-color: #ccc;
    }

.container {
    display: flex;
    justify-content: space-around;
    padding: 90px;
    gap: 150px;
    background-color: white;
}

.section {
    text-align: center;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.grid-item {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 7px;
}
