@{
    ViewBag.Title = "Finalizada";
}
<link rel="stylesheet" href="~/css/Final.css">
<!--Essa Div é a estrutura principal da tela-->
<div class="Container text-center">
    <h1>Sua Compra foi Finalizada!</h1>
    <i class="bi bi-shield-fill-check"></i>
    <br />
    <h3>Agradecemos a preferência!</h3>
    <br />
    <div class="offset-md-4 col-md-4">
        <a style=" background-color:#1C003F; margin-bottom: 10px" class="btn btn-primary bg-custom w-80" asp-action="LimparCarrinho" asp-controller="Compra">
            Voltar
        </a>
    </div>    
</div>

