@{
    ViewBag.Title = "Problema";
}
<link rel="stylesheet" href="~/css/Problema.css">
<!--Essa Div é a estrutura principal da tela-->
<div class="Container1 text-center">
    <h1>Aconteceu algum Problema!</h1>
    <i class="icones bi bi-x-square-fill"></i>
    <br />
    <h3>Aperte no botão abaixo para voltar a tela inicial</h3>
    <br />
    <input type="submit" class="botao text-white d-grid gap-2 col-4 mx-auto" asp-area="" asp-controller="#" asp-action="#" value="Voltar" />
</div>